{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="container">
        <h1 class="text-center mb-4">Bicicletas Disponibles</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for bicycle in bicycles %}
            <div class="col">
                <div class="card h-100 shadow">
                    <img src="{{ bicycle.image.url }}" class="card-img-top" alt="{{ bicycle.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ bicycle.name }}</h5>
                        <p class="card-text">Precio: ${{ bicycle.price|floatformat:0 }}</p>
                        <form action="{% url 'add_to_cart' bicycle.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-dark btn-lg btn-block">Agregar al carrito</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}
