.welcome-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* Color del texto */
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo con opacidad */
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
}

